<ul>
    Categories
    <li><button (click) = "ClickFunction('chairs')">Chairs</button></li>
    <li><button (click) = "ClickFunction('mice')">Mice</button></li>
    <li><button (click) = "ClickFunction('wardrobes')">Wardrobes</button></li>
    <li><button (click) = "ClickFunction('YandexStations')">YandexStations</button></li>
</ul>
<app-product-list id = "chairs" style = "display: none" [ItemsString] = 
"[
'https://resources.cdn-kaspi.kz/img/m/p/pdd/p2b/3187771.jpg?format=gallery-medium ~ Стул C06 ~
Пластиковый, обшивка: отсутствует, жесткая жесткость сиденья, высокая жесткость спинки, максимальная нагрузка 100кг, 
высота 80см, ширина 46см, глубина 40см ~ 4.8 ~ https://kaspi.kz/shop/p/stul-c06-80x46x40-sm-belyi-100189414/?c=750000000 ~ 4999',
'https://resources.cdn-kaspi.kz/img/m/p/hcf/h3b/85982139088926.jpg?format=gallery-medium ~ Стул Чили ~
Металлический, обшивка: велюр, средняя жесткость сиденья, средняя жесткость спинки, максимальная нагрузка 120кг,
высота 86см, ширина 45см, глубина 37см~ 4.9 ~ https://kaspi.kz/shop/p/stul-chili-86x45x37-sm-obivka-seryi-veljur-109319431/?c=750000000 ~ 10000',
'https://resources.cdn-kaspi.kz/img/m/p/h00/h73/63805400055838.jpg?format=gallery-medium ~ Табурет Nika Эконом ~
Металлический, обшивка: экокожа (искусственная кожа), средняя жесткость сиденья, максимальная нагрузка 130кг, 
высота 46.5см, ширина 32см, глубина 32см ~ 4.8 ~ https://kaspi.kz/shop/p/stul-c06-80x46x40-sm-belyi-100189414/?c=750000000 ~ 2973',
'https://resources.cdn-kaspi.kz/img/m/p/h08/h38/84461222297630.jpg?format=gallery-medium ~ Стул Депутат ~
Деревянный, обшивка: ткань, средняя жесткость сиденья, средняя жесткость спинки, максимальная нагрузка 130кг,
высота 100см, ширина 44см, глубина 45см ~ 4.8 ~ https://kaspi.kz/shop/p/stul-deputat-100x44x45-sm-belyi-bezhevyi-114371350/?c=750000000 ~ 9500',
'https://resources.cdn-kaspi.kz/img/m/p/h27/h39/86968753618974.jpg?format=gallery-medium ~ Табурет ZETA ИМП-ТВ-056116 ~
Деревянный, обшивка: отсутствует, жесткая жесткость сиденья, максимальная нагрузка 130кг,
 высота 45см, ширина 35см, глубина 35см ~ 4.9 ~ https://kaspi.kz/shop/p/stul-c06-80x46x40-sm-belyi-100189414/?c=750000000 ~ 3940',
]">
</app-product-list>

<app-product-list id = "mice" style = "display: none" [ItemsString] = 
"[
'https://resources.cdn-kaspi.kz/img/m/p/h35/h81/79480589418526.jpg?format=gallery-medium ~ Мышь Wireless Mouse черный ~
Оптическая светодиодная, беспроводная ~ 4.9 ~ https://kaspi.kz/shop/p/wireless-mouse-chernyi-109619826/?c=750000000 ~ 840',
'https://resources.cdn-kaspi.kz/img/m/p/hb2/hc2/64119540187166.jpg?format=gallery-medium ~ Мышь Logitech G102 Lightsync черный ~
Оптическая светодиодная, проводная~ 4.9 ~ https://kaspi.kz/shop/p/logitech-g102-lightsync-chernyi-100956618/?c=750000000 ~ 8876',
'https://resources.cdn-kaspi.kz/img/m/p/he7/h18/63909776424990.jpg?format=gallery-medium ~ Мышь X-Game XM-775OGB черный ~
Оптическая светодиодная, беспроводная ~ 4.6 ~ https://kaspi.kz/shop/p/x-game-xm-775ogb-chernyi-100374644/?c=750000000 ~ 1175',
'https://resources.cdn-kaspi.kz/img/m/p/hf8/hf7/63764045430814.jpg?format=gallery-medium ~ Мышь Logitech G102 Lightsync белый ~
Оптическая светодиодная, проводная ~ 4.9 ~ https://kaspi.kz/shop/p/logitech-g102-lightsync-belyi-9100635/?c=750000000 ~ 8956'
]">
</app-product-list>


<app-product-list id = "wardrobes" style = "display: none" [ItemsString] = 
"[
'https://resources.cdn-kaspi.kz/img/m/p/h66/h2b/85356927713310.jpg?format=gallery-medium ~ Распашной шкаф IMPERIAL Алёна 3Д, 120.2x190.5х46.6 см, белый, бежевый ~
Распашной, 5 полок ~ 4.6 ~ https://kaspi.kz/shop/p/raspashnoi-shkaf-imperial-aljona-3d-120-2x190-5h46-6-sm-belyi-bezhevyi-104713427/?c=750000000 ~ 47312',
'https://resources.cdn-kaspi.kz/img/m/p/h2e/h02/85764655808542.png?format=gallery-medium ~ Распашной шкаф c зеркалом Aisha Pro 1103, 120x190х45 см, белый ЛДСП ~
Распашной, 4 полок~ 4.1 ~ https://kaspi.kz/shop/p/raspashnoi-shkaf-c-zerkalom-aisha-pro-1103-120x190h45-sm-belyi-ldsp-106553991/?c=750000000 ~ 55591',
'https://resources.cdn-kaspi.kz/img/m/p/hac/h69/67854181695518.jpg?format=gallery-medium ~ Распашной шкаф Aliico.kz Н102, 80x190х45 см, белый ~
Распашной, 4 полок ~ 4.1 ~ https://kaspi.kz/shop/p/raspashnoi-shkaf-aliico-kz-n102-80x190h45-sm-belyi-108430945/?c=750000000 ~ 44595',
'https://resources.cdn-kaspi.kz/img/m/p/h70/h8d/68690740707358.jpg?format=gallery-medium ~ Распашной шкаф ШП-002, 160x240х52 см, белый, коричневый ~
Распашной, 14 полок ~ 4.9 ~ https://kaspi.kz/shop/p/raspashnoi-shkaf-shp-002-160x240h52-sm-belyi-korichnevyi-108773016/?c=750000000 ~ 84993'
]">
</app-product-list>


<app-product-list id = "YandexStations" style = "display: none" [ItemsString] = 
"[
'https://resources.cdn-kaspi.kz/img/m/p/he7/hb1/86887758004254.jpg?format=gallery-medium ~ Умная колонка Яндекс Станция Лайт 2 фиолетовый ~
90х90х65 мм ~ 4.9 ~ https://kaspi.kz/shop/p/jandeks-stantsija-lait-2-fioletovyi-122679962/?c=750000000 ~ 29749',
'https://resources.cdn-kaspi.kz/img/m/p/hff/h6a/86495017107486.jpg?format=gallery-medium ~ Умная колонка Яндекс Станция Мини с часами YNDX-00020 черный ~
97x54x97 мм ~ 4.9 ~ https://kaspi.kz/shop/p/jandeks-stantsija-mini-s-chasami-yndx-00020-chernyi-102580021/?c=750000000 ~ 40533',
'https://resources.cdn-kaspi.kz/img/m/p/hbd/h09/84530104467486.jpg?format=gallery-medium ~ Умная колонка Яндекс Станция Миди черный ~
110x96x96 мм ~ 5 ~ https://kaspi.kz/shop/p/jandeks-stantsija-midi-chernyi-114709674/?c=750000000 ~ 73770',
'https://resources.cdn-kaspi.kz/img/m/p/hbd/ha3/86887757021214.jpg?format=gallery-medium ~ Умная колонка Яндекс Станция Лайт 2 розовый ~
90х90х65 мм ~ 4.8 ~ https://kaspi.kz/shop/p/jandeks-stantsija-lait-2-rozovyi-122679840/?c=750000000 ~ 29990'
]">
</app-product-list>