<app-product 
[price] = 4999
[name] = "'Стул C06'"
[source] = "'https://resources.cdn-kaspi.kz/img/m/p/pdd/p2b/3187771.jpg?format=gallery-medium'" 
[description] = "'Пластиковый, обшивка: отсутствует, жесткая жесткость сиденья, высокая жесткость спинки, максимальная нагрузка 100кг, высота 80см, ширина 46см, глубина 40см'"
[kaspiLink] = "'https://kaspi.kz/shop/p/stul-c06-80x46x40-sm-belyi-100189414/?c=750000000'"
[rating] = 4.8>
</app-product>
<br><br><br><br>
<app-product 
[price] = 10000
[name] = "'Стул Чили'"
[source] = "'https://resources.cdn-kaspi.kz/img/m/p/hcf/h3b/85982139088926.jpg?format=gallery-medium'" 
[description] = "'Металлический, обшивка: велюр, средняя жесткость сиденья, средняя жесткость спинки, максимальная нагрузка 120кг, высота 86см, ширина 45см, глубина 37см'"
[kaspiLink] = "'https://kaspi.kz/shop/p/stul-chili-86x45x37-sm-obivka-seryi-veljur-109319431/?c=750000000'"
[rating] = 4.9>
</app-product>
<br><br><br><br>
<app-product 
[price] = 2973
[name] = "'Табурет Nika Эконом'"
[source] = "'https://resources.cdn-kaspi.kz/img/m/p/h00/h73/63805400055838.jpg?format=gallery-medium'" 
[description] = "'Металлический, обшивка: экокожа (искусственная кожа), средняя жесткость сиденья, максимальная нагрузка 130кг, высота 46.5см, ширина 32см, глубина 32см'"
[kaspiLink] = "'https://kaspi.kz/shop/p/taburet-nika-ekonom-46-5x32x32-sm-bezhevyi-serebrjanyi-16700785/?c=750000000'"
[rating] = 4.8>
</app-product>
<br><br><br><br>
<app-product 
[price] = 9500
[name] = "'Стул Депутат'"
[source] = "'https://resources.cdn-kaspi.kz/img/m/p/h08/h38/84461222297630.jpg?format=gallery-medium'" 
[description] = "'Деревянный, обшивка: ткань, средняя жесткость сиденья, средняя жесткость спинки, максимальная нагрузка 130кг, высота 100см, ширина 44см, глубина 45см'"
[kaspiLink] = "'https://kaspi.kz/shop/p/stul-deputat-100x44x45-sm-belyi-bezhevyi-114371350/?c=750000000'"
[rating] = 4.5>
</app-product>
<br><br><br><br>
<app-product 
[price] = 3940
[name] = "'Табурет ZETA ИМП-ТВ-056116'"
[source] = "'https://resources.cdn-kaspi.kz/img/m/p/h27/h39/86968753618974.jpg?format=gallery-medium'" 
[description] = "'Деревянный, обшивка: отсутствует, жесткая жесткость сиденья, максимальная нагрузка 130кг, высота 45см, ширина 35см, глубина 35см'"
[kaspiLink] = "'https://kaspi.kz/shop/p/taburet-zeta-imp-tv-056116-45x35x35-sm-bezhevyi-100345101/?c=750000000'"
[rating] = 4.9>
</app-product>
<br><br><br><br>
<app-product 
[price] = 4909
[name] = "'Стул Eames'"
[source] = "'https://resources.cdn-kaspi.kz/img/m/p/h59/h9b/66356560887838.jpg?format=gallery-medium'" 
[description] = "'Пластиковый, обшивка: отсутствует, средняя жесткость сиденья, средняя жесткость спинки, максимальная нагрузка 120кг, высота 81см, ширина 50см, глубина 50см'"
[kaspiLink] = "'https://kaspi.kz/shop/p/stul-eames-81x50x50-sm-belyi-103883724/?c=750000000'"
[rating] = 4.8>
</app-product>
<br><br><br><br>
<app-product 
[price] = 4875
[name] = "'Табурет JAM Mebel JO-134567'"
[source] = "'https://resources.cdn-kaspi.kz/img/m/p/hd0/h0b/86249670737950.png?format=gallery-medium'" 
[description] = "'Стальной, обшивка: экокожа (искусственная кожа), средняя жесткость сиденья, средняя жесткость спинки, максимальная нагрузка 200кг, высота 46см, ширина 29см, глубина 36см'"
[kaspiLink] = "'https://kaspi.kz/shop/p/taburet-jam-mebel-jo-134567-46x29x36-sm-belyi-zolotistyi-115024671/?c=750000000'"
[rating] = 4.8>
</app-product>
<br><br><br><br>
<app-product 
[price] = 5260
[name] = "'Стул ZETA СМ-7'"
[source] = "'https://resources.cdn-kaspi.kz/img/m/p/h68/hd0/65677026852894.jpg?format=gallery-medium'" 
[description] = "'Металлический, обшивка: гобелен, средняя жесткость сиденья, средняя жесткость спинки, максимальная нагрузка 120кг, высота 82см, ширина 35см, глубина 46см'"
[kaspiLink] = "'https://kaspi.kz/shop/p/stul-zeta-sm-7-82x35x46-sm-seryi-107554803/?c=750000000'"
[rating] = 4.8>
</app-product>
<br><br><br><br>
<app-product 
[price] = 2999
[name] = "'Табурет ZAGA ZTB'"
[source] = "'https://resources.cdn-kaspi.kz/img/m/p/hfd/h7a/86320326737950.jpg?format=gallery-medium'" 
[description] = "'ЛДСП, обшивка: отсутствует, жесткая жесткость сиденья, максимальная нагрузка 150кг, высота 45см, ширина 30см, глубина 30см'"
[kaspiLink] = "'https://kaspi.kz/shop/p/taburet-zaga-ztb-45x30x30-sm-belyi-106213573/?c=750000000'"
[rating] = 4.5>
</app-product>
<br><br><br><br>
<app-product 
[price] = 7590
[name] = "'Стул Венский'"
[source] = "'https://resources.cdn-kaspi.kz/img/m/p/hbd/h46/64344206901278.jpg?format=gallery-medium'" 
[description] = "'Металлический, обшивка: экокожа (искусственная кожа), средняя жесткость сиденья, средняя жесткость спинки, максимальная нагрузка 150кг, высота 90см, ширина 40см, глубина 40см'"
[kaspiLink] = "'https://kaspi.kz/shop/p/stul-venskii-90x40x40-sm-belyi-101380068/?c=750000000'"
[rating] = 4.9>
</app-product>